<marquee><h2> your in the index brah</h2></marquee>

<div id='app'></div>
<script type='text/javascript' charset='utf-8'>
  $(BillPinClone.initialize({current_user_id: <%= current_user.id %>}));
</script>

