// VARIABLES
$orange: rgb(221,115,66);
$brown: rgb(124, 60, 44);
$teal: rgb(111, 193, 216);


// BUTTONS
.btn-brown {
  background-color: $brown;
  border-color: rgb(122, 55, 40);
  color: white;
}

.btn-orange {
  background-color: $orange;
  border-color: rgb(214, 108, 61);
  color: white;
}
// ICONS
.icon-white {
  color: white;
}

// FORMS 
.form-control:focus {
  border-color: $orange;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 202, 103, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 193, 104, 0.6);
};

.quick-form {
  background-color: $teal;
  padding: 10px;
  border-radius: 3px 3px 0 0;
}

// MODALS
.modal-header {
  background-color: $orange;
  border-radius: 3px 3px 0 0;
}

// NAVBAR
.navbar {
  border-radius: 0 0 3px 3px;
}

.navbar-default {
  background-color: $orange;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a.active:hover {
  color: $brown;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active {
  color: white;
}

// mobile button
.navbar-toggle.btn:hover {
  background: rgba(124, 60, 44, .6);
}


// TABLES
.table-history tr:hover > td:nth-child(1n) {
  background-color: rgb(251, 234, 222);
}

// TEXT STYLES
.positive {
  color: rgb(24, 148, 144);
}

.negative {
  color: rgb(230, 152, 48);
}
