// VARIABLES
$orange: rgb(221,115,66);
$brown: rgb(124, 60, 44);
$teal: rgb(111, 193, 216);
$grey: rgb(221, 221, 221);
$highlightGrey: #eee;
$borderColor: #aaa;
$base-color: #fafafa;


// BUTTONS
.btn-brown {
  background-color: $brown;
  border-color: rgb(122, 55, 40);
  color: white;
}

.btn-orange {
  background-color: $orange;
  border-color: rgb(214, 108, 61);
  color: white;
}

.user-split-details .close {
  display: none;
}

.user-split-details:hover .close {
  display: inherit;
}

// FORMS 
.form-control:focus {
  border-color: $orange;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 202, 103, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 193, 104, 0.6);
};

.pin-it {
  top: 0px;
  right: 190px;
  font-size: 14px;
}

.quick-form {
  background-color: $teal;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  position: relative;
  margin-bottom: 15px;
}

.split-submit {
  margin-top: 10px;
}

.total-split-details {
  margin-top: 10px;
  border-bottom: 1px solid $grey;
}

.user-split-details {
  margin-top: 10px;
  border-bottom: 1px solid $grey;
}

// FONTS
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-9pt {
   margin-top: 13px;
}

p {
  font-size: 18px;
}

h1.header {
  letter-spacing: 2px;
}

.header {
  text-align: center;
  margin-bottom: 15px;
}


// HELPERS
.buffer-bottom {
  margin-bottom: 10px;
}

.empty-page {
  text-align: center;
}

.user-row {
  border-bottom: 1px solid $borderColor;
  margin-top: 10px;
}

// ICONS
.icon-white {
  color: white;
}

.icon-bronw{
  color: $brown;
}

// MODALS
.modal-header {
  background-color: $orange;
  border-radius: 3px 3px 0 0;
}

// NAVBAR
.navbar {
  border-radius: 0 0 3px 3px;
}

.navbar-default {
  background-color: $orange;
  margin-bottom: 30px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a.active:hover {
  color: $brown;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active {
  color: white;
}

// mobile button
.navbar-toggle.btn:hover {
  background: rgba(124, 60, 44, .6);
}



// TABLES
.table-history tr:hover > td:nth-child(1n) {
  background-color: $highlightGrey;
  cursor: pointer;
}

.display-amt { 
  text-align: right;
}

// TEXT STYLES
.positive {
  color: rgb(24, 148, 144);
}

.negative {
  color: rgb(230, 152, 48);
}

// USERS LIST
.user-list {
  overflow: scroll;
  height: 225px;
  background-color: $teal;
  padding: 5px 0 5px 0;
  border-radius: 3px;
}
.user-list > li > a{
  border-radius: 0;
}
