<% if (!(positives.length == 0)) { %>
  These peeps owe me
  <table>
    <% _.each(positives, function(amt, user_id) { %>
      <tr>
        <td><%= users.get(user_id).escape('email')  %></td>
        <td><%= amt %></td>
      </tr>
    <% }); %>
  </table>
<% } %>

<% if (!(negatives.length == 0)) { %>
  I owe these people
  <table>
  <% _.each(negatives, function(amt, user_id) { %>
      <tr>
        <td><%= users.get(user_id).escape('email')  %></td>
        <td><%= amt %></td>
      </tr>
    <% }); %>
  </table>
<% } %>
