<% if (!(_.isEmpty(positives))) { %>
  These peeps owe me
  <table>
    <% _.each(positives, function(amt, user_id) { %>
      <tr>
        <td><%= users.get(user_id).escape('email')  %></td>
        <td><%= amt %></td>
      </tr>
    <% }); %>
  </table>
<% } %>

<% if (!(_.isEmpty(negatives))) { %>
  I owe these people
  <table>
  <% _.each(negatives, function(amt, user_id) { %>
      <tr>
        <td><%= users.get(user_id).escape('email')  %></td>
        <td><%= amt %></td>
      </tr>
    <% }); %>
  </table>
<% } %>
