<form class='form-inline quick-form center'>
  <div class='form-group'>
    <span class='pointer bold white font-14pt'>I PAID</span>
    <span class='pointer blue small'>[change]</span>
    <select name='split[payer]' id='split-payer' class='hidden form-control'>
      <% users.each(function (user) { %>
        <option value='<%= user.id %>'
          <% if (user.id == current_user.id) { %>
            selected="selected"
          <% } %>
        ><%= user.get('email') %></option>
      <% }); %>
    </select>
  </div>

  <div class='form-group'>
      <label class='sr-only'>How Much?</label>
      <input name='split[amt]'  id='split-amt'
             type='text' class='form-control col-xs-2' placeholder='How Much?'>
  </div>  

  <div class='form-group'>
      <label class='sr-only'>Description</label>
      <input name='split[des]' id='split-des'
             type='text' class='form-control col-xs-3' placeholder='Description'>
  </div>

  <button type='submit' class='pin-it gotham box-shadow-3'>SPLIT IT ▾</button>
</form>
