<form class='form-inline quick-form'>
  <div class='form-group'>
    <label>Who paid?</label>
      <select name='split[payer]' class='form-control'>
        <% users.each(function (user) { %>
          <option value='<%= user.get('id') %>'><%= user.get('email') %></option>
        <% }); %>
      </select>
    <label>Who was there?</label>
      <select name='split[borrowers][0]' class='form-control'>
        <% users.each(function (user) { %>
          <option value='<%= user.get('id') %>'><%= user.get('email') %></option>
        <% }); %>
      </select>
    </label>
  </div>

  <div class='form-group'>
      <label class='sr-only'>How Much?</label>
      <input name='split[amt]'  id='split-amt'
             type='text' class='form-control' placeholder='How Much?'>
  </div>  

  <div class='form-group'>
      <label class='sr-only'>Description</label>
      <input name='split[des]' id='split-des'
             type='text' class='form-control' placeholder='Description'>
  </div>

  <button type='submit' class='btn btn-orange'>Pin it</button>
</form>
<p id='split-amt-prev'></p>
<p id='split-des-prev'></p>
