<form action='<%= users_guest_url %>' class='navbar-form navbar-right' method='POST' role='Sign In as Guest'>
  <%= render partial: 'layouts/auth_helper' %>
  <button class='btn btn-brown'>Guest Log In</button>
</form>
