<ul id='scene' data-calibrate-y="true">
  <li class='layer' id='restaurant' data-depth='0.00'>
    <img src='<%= image_path("Restaurant-Scene.jpg") %>'>
  </li>
  <li class='layer' id='waiter' data-depth='1.00'>
    <img src='<%= image_path("waiter-burger.png") %>'>
  </li>
</ul>
